@import "./variables";

html, body {
  height: 100%;
}

#__nuxt {
  height: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a.nodeco-inline {
  color: inherit;
  text-decoration: inherit;
}

a.nodeco-block {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

pre {
  border: solid 1px $border;
  padding: 12px;
}

.tag.is-white {
  border: solid 1px $border;
  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $black-unified;
  }
}

.article {
  padding: 24px;
}
